<h4 class="mb-3">Basic Usage</h4>

<image-upload url="https://httpbin.org/status/200"></image-upload>

<pre><code class="language-markup"><![CDATA[<image-upload url="https://httpbin.org/status/200"></image-upload>]]></code></pre>

<h5 class="mb-3 mt-3">With headers</h5>

<image-upload url="https://httpbin.org/status/200" [headers]="myHeaders"></image-upload>

<pre><code class="language-markup"><![CDATA[<image-upload url="https://httpbin.org/status/200" [headers]="myHeaders"></image-upload>]]></code></pre>

<pre><code class="language-typescript"><![CDATA[myHeader: Headers 
    = new Headers({ 'Authorization': 'MyToken' });]]>
</code></pre>
