.image-container {
}

.image-container > .image {
  float: left;
  display: inline;
  margin: 5px;
}

.file-upload {
  padding: 15px;
  border-radius: 5px;
  background-color: #f3f3f3;
  font-family: sans-serif;
  font-size: 1.25em;
  font-weight: 700;
}

.file-is-over {
  outline: #bfbfbf dashed 3px;
}

.inputfile {
  position: relative;
  overflow: hidden;
  margin: 5px;
  background-color: #30bf5a;
  padding: 3px;
  border-radius: 3px;
  color: white;
  display: inline-block;
  float: left;
}

.inputfile input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.drag-box-message {
  float: left;
  display: inline-block;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #8e918d;
}
