<div class="image-upload"
     fileDrop
     [accept]="['image/*']"
     (isFileOver)="fileOver($event)"
     (fileDrop)="fileChange($event)"
     [ngClass]="{'file-is-over': isFileOver}"
>
  <div class="file-upload hr-inline-group">
    <label class="upload-button">
      <span [innerText]="buttonCaption"></span>
      <input
              type="file"
              accept="image/*"
              multiple (change)="fileChange(input.files)"
              #input>
    </label>

    <div class="drag-box-message" [innerText]="dropBoxMessage"></div>
  </div>

  <div *ngIf="preview" class="image-container hr-inline-group">
    <div
            class="image"
            *ngFor="let file of files"
            [ngStyle]="{'background-image': 'url('+ file.src +')'}"
    >
      <div *ngIf="file.pending" class="loading-overlay">
        <div class="spinningCircle"></div>
      </div>
      <div *ngIf="!file.pending" class="x-mark" (click)="deleteFile(file)">
        <span class="close"></span>
      </div>
    </div>
  </div>
</div>