.img-ul {
  --common-radius: 3px;
  --active-color: #3C9;
  position: relative;
  border-radius: var(--common-radius);
  border: #d0d0d0 dashed 1px;
  font-family: sans-serif;
}

.img-ul-file-is-over {
  border: var(--active-color) solid;
}

.img-ul-hr-inline-group:after {
  display: table;
  clear: both;
  content: "";
}

.img-ul-file-upload {
  padding: 16px;
  background-color: #f8f8f8;
}

.img-ul-drag-box-msg {
  display: inline-block;
  margin-left: 12px;
  padding-top: 14px;
  color: #9b9b9b;
  font-weight: 600;
}

label.img-ul-button input[type=file] {
  display: none;
  position: fixed;
  top: -99999px;
}

.img-ul-clear {
  background-color: #FF0000;
}

.img-ul-upload {
  background-color: var(--active-color);
}

.img-ul-button {
  cursor: pointer;
  padding: 10px;
  color: #FFF;
  font-size: 1.25em;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  float: left;
  -webkit-box-shadow: 2px 2px 4px 0 rgba(148, 148, 148, 0.6);
  -moz-box-shadow: 2px 2px 4px 0 rgba(148, 148, 148, 0.6);
  box-shadow: 2px 2px 4px 0 rgba(148, 148, 148, 0.6);
}

.img-ul-button:active span {
  position: relative;
  display: block;
  top: 1px;
}

.img-ul-container {
  background-color: #fdfdfd;
  padding: 0 10px;
}

.img-ul-image {
  float: left;
  display: inline-block;
  margin: 6px;
  width: 86px;
  height: 86px;
  background: center center no-repeat;
  background-size: contain;
  position: relative;
}

.img-ul-x-mark {
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  float: right;
  background-color: #000;
  opacity: .7;
  color: #FFF;
  margin: 2px;
}

.img-ul-close {
  width: 20px;
  height: 20px;
  opacity: .7;
  position: relative;
  padding-right: 3px;
}

.img-ul-x-mark:hover .img-ul-close {
  opacity: 1;
}

.img-ul-close:before, .img-ul-close:after {
  border-radius: 2px;
  position: absolute;
  content: '';
  height: 16px;
  width: 2px;
  top: 2px;
  background-color: #FFF;
}

.img-ul-close:before {
  transform: rotate(45deg);
}

.img-ul-close:after {
  transform: rotate(-45deg);
}

.img-ul-loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: .7;
}

.img-ul-spinning-circle {
  height: 30px;
  width: 30px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0);
  border-top: 3px solid #FFF;
  border-right: 3px solid #FFF;
  -webkit-animation: spinner 2s infinite cubic-bezier(0.085, 0.625, 0.855, 0.360);
  animation: spinner 2s infinite cubic-bezier(0.085, 0.625, 0.855, 0.360);
}

.img-ul-file-too-large {
  color: red;
  padding: 0 15px;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}