<h4 class="mb-3 mt-5">Events</h4>

<image-upload url="http://mockbin.org/request"
              (removed)="onRemoved($event)"
              (uploadFinished)="onUploadFinished($event)"
              (uploadStateChanged)="onUploadStateChanged($event)">
</image-upload>

<pre><code class="language-markup"><![CDATA[<image-upload
  url="http://mockbin.org/request"
  (removed)="onRemoved($event)"
  (uploadFinished)="onUploadFinished($event)"
  (uploadStateChanged)="onUploadStateChanged($event)">
</image-upload>]]></code></pre>

<pre><code class="language-typescript"><![CDATA[onUploadFinished(file: FileHolder) {
  console.log(file);
}

onRemoved(file: FileHolder) {
  console.log(file);
}

onUploadStateChanged(state: boolean) {
  console.log(state);
}]]>
</code></pre>
