<h4 class="mb-3">Events</h4>

<image-upload url="https://httpbin.org/status/200"
              (removed)="onRemoved($event)"
              (uploadFinished)="onUploadFinished($event)"              
              (uploadStateChanged)="onUploadStateChanged($event)">
</image-upload>

<pre><code class="language-markup"><![CDATA[<image-upload
  url="https://httpbin.org/status/200"
  (removed)="onRemoved($event)"
  (uploadFinished)="onUploadFinished($event)"  
  (uploadStateChanged)="onUploadStateChanged($event)">
</image-upload>]]></code></pre>

<pre><code class="language-typescript"><![CDATA[imageFinishedUploading(file: FileHolder) {
  console.log(JSON.stringify(file.serverResponse));
}

onRemoved(file: FileHolder) {
  // do some stuff with the removed file.
}

onUploadStateChanged(state: boolean) {
  console.log(JSON.stringify(state));
}]]>
</code></pre>
