<div class="github-star-button">
  <a class="github-button"
     href="https://github.com/aberezkin/ng2-image-upload"
     data-icon="octicon-star"
     data-size="large"
     data-show-count="true"
     aria-label="Star aberezkin/ng2-image-upload on GitHub"
  >Star</a>
</div>

<div class="jumbotron jumbotron-fluid text-center">
  <h1 class="display-3">
    Angular Image Upload
  </h1>
  <p class="lead">
    Angular component for image uploading
  </p>
</div>

<div class="d-flex justify-content-center align-items-center mb-3">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLink="demo" routerLinkActive="active">Demo</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="readme" routerLinkActive="active">Readme</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
