<div class="github-star-button">
  <a class="github-button"
     href="https://github.com/aberezkin/ng2-image-upload"
     data-icon="octicon-star"
     data-size="large"
     data-show-count="true"
     aria-label="Star aberezkin/ng2-image-upload on GitHub"
  >Star</a>
</div>

<div class="jumbotron jumbotron-fluid text-center">
  <h1 class="display-3">
    Angular Image Upload
  </h1>
  <p class="lead">
    Angular component for image uploading
  </p>
</div>

<div class="container" highlight-js-content=".highlight">
  <basic></basic>
  <div class="mt-3"></div>
  <filter></filter>
  <div class="mt-3"></div>
  <customise></customise>
  <div class="mt-3"></div>
  <events></events>
  <div class="mt-5"></div>
</div>
